{:paths ["src"]
 :deps {org.clojure/tools.namespace {:mvn/version "1.5.0"}
        org.clojars.lukaszkorecki/utility-belt {:mvn/version "2.0.0-SNAPSHOT-3"}
        nrepl/nrepl {:mvn/version "1.3.0"}
        lambdaisland/kaocha {:mvn/version "1.91.1392"}
        djblue/portal {:mvn/version "0.58.2"}}

 :aliases {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}
                          slipset/deps-deploy {:mvn/version "0.2.2"}}
                   :ns-default build}}}
