{:paths ["src"]
 :deps {org.clojure/tools.namespace {:mvn/version "1.5.0"}
        org.clojars.lukaszkorecki/utility-belt {:mvn/version "2.4.0"}
        nrepl/nrepl {:mvn/version "1.5.1"}
        lambdaisland/kaocha {:mvn/version "1.91.1392"}
        djblue/portal {:mvn/version "0.62.0"}
        babashka/process {:mvn/version "0.6.23"}
        org.clojars.lukaszkorecki/portal.browser.cljfx {:mvn/version "1.0.0.7"}
        org.clojure/java.doc {:git/url "https://github.com/clojure/java.doc"
                              :git/tag "v0.1.2"
                              :git/sha "fc518b1"}}

 :aliases {:build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.11"}
                          slipset/deps-deploy {:mvn/version "0.2.2"}}
                   :ns-default build}}}
